//
// card tags
// ==============================
.card-tags {
  .tags {
    .l1 {
    }

    .l2 {
      font-size: 16px !important;
    }

    .l3 {
      font-size: 18px !important;
    }

    .l3 {
      font-size: 20px !important;
    }
  }
}


//
// xs-no-padding
// ==============================
@media (max-width: 767px) {
    .container {
        padding-right: 0;
        padding-left: 0;
        overflow: hidden;
    }
}
